@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
#root{
    display: flex;
    justify-content: center;
}
.Posts{
  margin-top: 50px;
  width: 800px;
}
.About {
  margin-top: 80px;
}
.Contact {
  position: absolute;
  top: 20%;
  text-align: center;
}
.Contact h1 a{
  font-size: 50px;
}
mark{
  font-size: 50px;
}
.Home{
  position: absolute;
  top: 35%;
  font-size: 60px;
  font-family: 'Racing Sans One', cursive;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid rgb(238, 13, 13);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
  
.post-enter {
    transform: translateX(-500px);
  }
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
.post-exit {
    opacity: 1;
  }
.post-exit-active {
    transform: translateX(500px);
    transition: all 500ms ease-in;
  }

